NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=eazybox
DATABASE_URL=postgres://postgres@localhost:5432/eazybox
REDIS_URL=redis://localhost:6379

RESEND_API_KEY=

SENTRY_DSN_SERVER=
SENTRY_DSN_CLIENT=

