
# dependencies
/node_modules
/.pnp
.pnp.*

# testing

# production
/build

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

# typescript
*.tsbuildinfo
