<div id="<%= dom_id weekly_schedule %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Day of week:</strong>
    <%= weekly_schedule.day_of_week %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= weekly_schedule.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max capacity:</strong>
    <%= weekly_schedule.max_capacity %>
  </div>
</div>
